form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    width: 100%;
  }
  
  textarea {
    height: 100px;
  }
  
  /* button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  } */
  
  input:required:invalid,
  select:required:invalid,
  textarea:required:invalid {
    border-color:black;
  }
  
  input:required:valid,
  select:required:valid,
  textarea:required:valid {
    border-color: #ccc;
  }
  